apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: cloud-sandbox-dev

resources:
- ../../base

nameSuffix: -dev

commonLabels:
  environment: dev

patches:
- patch: |-
    - op: replace
      path: /spec/replicas
      value: 1
  target:
    kind: Deployment

- patch: |-
    - op: replace
      path: /spec/rules/0/host
      value: sandbox-dev.example.com
  target:
    kind: Ingress
